.header {
    display: flex;
    padding: 2px 1em;
    align-items: center;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.13);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.13);
}

.header *{
    cursor: pointer;
}