.nav {
    display: flex;
    gap: 1.5em;
    align-items: center;
}


.navLink,
.navLogo {
    display: grid;
    place-content: center;
}

.navLogo {
    font-size: 1.5rem;
    color: var(--color-dark-gray);
}

.nav p {
    margin: 0;
    margin-top: .4em;
    font-size: 12px;
    font-weight: 700;
    color: var(--color-dark-gray);
    display: none;
}