/* /////////////////// */
.form {
    display: grid;
    gap: 1em;
}

.form>select {
    border: none;
    outline: none;
    border-bottom: #42855B 2px solid;
    padding-block: .5em;
}


.form input[type='file']::file-selector-button {
    border: none;
    border-bottom: 2px solid #42855B;
    padding: .5em .7em;
    border-radius: .6em;
    transition: 1s;
    background: transparent;
    color: #42855B;
    font-weight: 700;
}

.coverImageInputWrapper {
    display: flex;
    gap: .5em;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.coverImageInputWrapper input[type='file']::file-selector-button {
    border-bottom: 2px solid #FADA5E;
}

.imageInputWrapper {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-bottom: 1.3em;
}


.coverImageLabel {
    color: rgb(102, 101, 101);
    cursor: pointer;
    border-left: 1px solid #42855B;
    width: 50%;
    padding-left: 1.5em;
    font-size: small;
    font-weight: 500;
}

.form>select {
    font-size: small;
    font-weight: 600;
    color: rgb(75, 75, 75);
}