.form {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}

.form>button {
    font-size: 1rem;
    background-color: transparent;
    color: #42855b;
    font-weight: bold;
    border: none;
    margin: 1em 0 0 2.5em;
    outline: none;
    transition: all .4s;
}

.form>button:hover,
.form>button:focus {
    transform: scale(1.1);
}