.formGroup {
    display: grid;
}

.formLabel {
    font-size: small;
    font-weight: 500;
    color: rgb(75, 75, 75);
}

.formControl,
.formTextArea {
    color: rgb(95, 95, 95);
    border: 2px;
    border-style: none none solid none;
    border-color: #42855B;
    outline: none;
    transition: all .6s;
}

.formControl {
    height: 0;
    transition: all .4s;
}

.formTextArea {
    font-size: medium;
    line-height: 1.6;
    font-weight: 700;
    padding-block: .5em;
    letter-spacing: 1px;
}

.formTextArea:focus,
.formControl:focus {
    border-color: darkgoldenrod;
    outline: none;
}

.formControl:focus{
    height: 2em;
}

.formControlActive {
    height: 2em;
}